<a href="https://colab.research.google.com/github/THE-AAV/PyLearning-Journey/blob/main/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# @title Hello World in Python
name="AAV"
print("Hello World")
print(f"Hello {name.title()}")
print("Welcome to world of python")
print("happy coding")

Hello World
Hello Aav
Welcome to world of python
happy coding

In [ ]:
# @title Hello World in Pythoh with validation
name = "Vyas" # @param {"type":"string"}
print("Hello World")
print(f"Hello {name.title()}")
print("Welcome to world of python")
print("happy coding")
count=len(name)
if count<2:
  print("This is not a name")
else:
  print(f"'{name.title()}',Your name has {count} letters")

Hello World
Hello Vyas
Welcome to world of python
happy coding
'Vyas',Your name has 4 letters

In [ ]:
# @title SUM EXAMPLE
x=float(input("Enter a number "))
y=float(input("Enter a number "))
z=float(input("Enter a number "))
sum=x+y+z
print("The sum of numbers is",sum)

Enter a number 12
Enter a number 34
Enter a number 56
The sum of numbers is 102.0

In [ ]:
# @title Indentation
print('1')
print('2')
 #print('2')
print('3')

1
2
3

In [ ]:
# @title Another Indentation Example
a = 1 # @param {"type":"slider","min":1,"max":5,"step":1}
b = 3 # @param {"type":"slider","min":1,"max":5,"step":1}
if a==1:
  print("a=1")
else :
  print(f"A={a}")
#NEW CODE
if a<b:
  print("a is less than b")
elif a==b:
  print("a is equal to b")
else:
  print("a is greater than b")

a=1
a is less than b

In [ ]:
# @title Indentation for Loops
n = 11 # @param {"type":"slider","min":0,"max":100,"step":1}
print("Start counting")
for i in range(1,n):
  print(i)
print("Done Counting")

Start counting
1
2
3
4
5
6
7
8
9
10
Done Counting

In [ ]:
# @title Print Function
print("Hello",5,1==2,1==1,5/2,5//2,2**10)
print("Hello",5,1==2,1==1,5/2,5//2,2**10,sep=", ")
for i in range(1,4):
 print(i,end=" ")
print("\n\n Hello Again")
print('/home','user','documents','my.py',sep='/')

Hello 5 False True 2.5 2 1024
Hello, 5, False, True, 2.5, 2, 1024
1 2 3

 Hello Again
/home/user/documents/my.py

In [ ]:
# @title Basic Data Types
#float
x=0.5
print(type(x))
#int
print(type(5//2))
#bool
print(type(5==2))
#str
print(type("Hello"))

<class 'float'>
<class 'int'>
<class 'bool'>
<class 'str'>

In [ ]:
# @title Numerical Operators
print(8+3)
print(8/3)
print(8//3)
print(8-3)
print(8*3)
print(8**3)
print(8%3)

11
2.6666666666666665
2
5
24
512
2

In [ ]:
# @title Multiple Assignment
a,b,c=1,2,3
#output
print(f"a:{a}, b:{b} ,c:{c} ")
print(f"Swapping")
#swapping values
a,b=b,a
print(f"a:{a}, b:{b}")
#tuples unpacking
mytuple=(1,2,69)
a,b,c=mytuple
print(f"a:{a}, b:{b}, c:{c}")
#unpacking list
mylist=[1,2,69]
a,b,c=mylist
print(f"a:{a}, b:{b}, c:{c}")

a:1, b:2 ,c:3
Swapping
a:2, b:1
a:1, b:2, c:69
a:1, b:2, c:69

In [ ]:
# @title Variable names
# Snake Case: Words are separated by underscores and all lowercase
snake_case_variable = "This is a snake case variable"

# Camel Case: The first word is lowercase, and subsequent words have their first letter capitalized
camelCaseVariable = "This is a camel case variable"

# Variable Names: Python variables should be descriptive and follow the naming conventions
user_name = "Alice"           # Snake case
userAge = 25                  # Camel case
total_items_in_cart = 10      # Snake case
itemPrice = 19.99             # Camel case

# Print the variables
print(snake_case_variable)
print(camelCaseVariable)
print(user_name)
print(userAge)
print(total_items_in_cart)
print(itemPrice)

This is a snake case variable
This is a camel case variable
Alice
25
10
19.99

In [ ]:
# @title Keywords
import keyword
for k in keyword.kwlist:
  print(k)

False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield

In [3]:
# @title Escape Sequences
print("Hello")
print("\tHello")
print("Hello\b\b")
print("Hello \'World\'")
print('Hello "World"')
print("Hello\nWorld")
print("This is slash \\")
print("unicode character \u263A")
print("unicode character \u21E8")

Hello
	Hello
Hello
Hello 'World'
Hello "World"
Hello
World
This is slash \
unicode character ☺
unicode character ⇨